<div class="signup-container">
    <div class="signup-card">
    <h2>Create Account</h2>
    
    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="firstName">First Name</label>
        <input 
          type="text" 
          id="firstName" 
          formControlName="firstName" 
          [ngClass]="{ 'is-invalid': submitted && firstName.errors }"
        />
        <div *ngIf="submitted && firstName.errors" class="error-message">
          <span *ngIf="firstName.errors['required']">First name is required</span>
        </div>
      </div>
      
      <div class="form-group">
        <label for="lastName">Last Name</label>
        <input 
          type="text" 
          id="lastName" 
          formControlName="lastName" 
          [ngClass]="{ 'is-invalid': submitted && lastName.errors }"
        />
        <div *ngIf="submitted && lastName.errors" class="error-message">
          <span *ngIf="lastName.errors['required']">Last name is required</span>
        </div>
      </div>
      
      <div class="form-group">
        <label for="phoneNumber">Phone Number</label>
        <input 
          type="tel" 
          id="phoneNumber" 
          formControlName="phoneNumber" 
          placeholder="10-digit number" 
          [ngClass]="{ 'is-invalid': submitted && phoneNumber.errors }"
        />
        <div *ngIf="submitted && phoneNumber.errors" class="error-message">
          <span *ngIf="phoneNumber.errors['required']">Phone number is required</span>
          <span *ngIf="phoneNumber.errors['pattern']">Please enter a valid 10-digit phone number</span>
        </div>
      </div>
      
      <div class="form-group password-field">
        <label for="password">Password</label>
        <div class="password-input-container">
          <input 
            [type]="passwordVisible ? 'text' : 'password'" 
            id="password" 
            formControlName="password" 
            [ngClass]="{ 'is-invalid': submitted && password.errors }"
          />
          <button type="button" class="toggle-password" (click)="togglePasswordVisibility()">
            <i class="material-icons">{{ passwordVisible ? 'visibility_off' : 'visibility' }}</i>
          </button>
        </div>
        <div *ngIf="submitted && password.errors" class="error-message">
          <span *ngIf="password.errors['required']">Password is required</span>
          <span *ngIf="password.errors['minlength']">Password must be at least 8 characters</span>
          <span *ngIf="password.errors['pattern']">
            Password must contain at least one uppercase letter, one lowercase letter, 
            one number and one special character
          </span>
        </div>
      </div>
      
      <button type="submit" class="submit-btn">Sign Up</button>
    </form>
    
    <div class="login-link">
      Already have an account? <a routerLink="/login">Log in</a>
    </div>
</div>
  </div>
  